/Lab1Q1/nbproject/private/
/Lab1Q1/build/
/Lab1Q2/nbproject/private/
/Lab1Q2/build/
/Lab1Q3/nbproject/private/
/Lab1Q3/build/
/Assignment1/nbproject/private/
/Assignment1/build/
/Assignement 2/nbproject/private/
/Assignement 2/build/
/Assignment 2 Q2/nbproject/private/
/Assignment 2 Q2/build/
/Assignment 2 Q3/nbproject/private/
/Assignment 2 Q3/build/
/Assignment 2 Q4/nbproject/private/
/Assignment 2 Q4/build/
/test/nbproject/private/
/Assignment 2 Q1/build/
/Assignment 3 Q1/nbproject/private/
/Assignment 3 Q1/build/
/Assignment 3 Q2/nbproject/private/
/Assignment 3 Q2/build/
/Assignment 3 Q3/nbproject/private/
/Assignment 3 Q3/build/
/GitTest/nbproject/private/
/Assignment 4/nbproject/private/
/test/build/
/Assignment 4/build/
/Assignment 4/dist/
/Assignment 5/nbproject/private/
/Assignment 5 Q1/build/
/Assignment5 Q2/nbproject/private/
/Assignment5 Q2/build/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/Login/nbproject/private/
/Login/dist/
/Login/build/